* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  top : 0;
  justify-content: space-between;
  padding-left: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo img {
  width: 120px;
  height: auto;
  background: transparent;
}

.options {
 display: flex;
  gap: 15px;
  margin-left: 40px;
}

.nav-items {
 color: white; 
}

.right-options {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 50px;
}

.left-options {
  display: flex;
  align-items: center;
}

.nav-items img {
  width: 25px;
  height: auto;
}

.n-series img {
  width: 150px;
  height: auto;
  margin-left: 40px;
}

.title img {
  width: 400px;
  height: auto;
  margin-left: 40px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  color:white;
  font-family: calibri;;
}

.top-ten img{
  width: 40px;
  height:auto;
  margin-left: 40px;
}

.description {
  color: white;
  font-family: calibri;
  margin-left: 50px;
  width: 600px;
  margin-top: 20px;
  font-size: large;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}


.buttons{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}

.play {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  align-items: center;
  display: flex;
  margin-left: 50px;
  width: 130px;
  height: 39px;
  justify-content: center;
  font-size: 16px;
}

.play img{
  width:30px;
  height:auto;
}

.more-info {
  padding: 8px 20px;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  gap: 8px;
}

.more-info:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.more-info img{
  width:25px;
  height:auto;
}

.recs {
  margin-top: 50px;
  margin-left: 50px;
  color: white;
  font-family: calibri;
}

.rec-images {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.rec-images::-webkit-scrollbar {
  display: none;
}

.rec-images img {
  width: 190px;
  height: auto;
}